
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>date</title>
  </head>
  <body>
<h2>Todays</h2>

<p> the date is <%= DateTime.now.strftime("%d/%m/%Y %H:%M")%></p>
  </body>
</html>
